*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*COULEURS 
BLEU : #0065FC;
BLEU CLAIR : #DEEBFF;
GRIS : #F2F2F2;
*/

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}
.pad2{
    padding-left: 2%;
    padding-right: 2%;
}

header{
    margin-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__container .logo{
    width: 100px;
    padding: 14px 0;
}
.header-logo{
    width: 70%;
}

.menu__item{
    padding: 28px 0; 
    border-top: 3px solid #F2F2F2;
    text-align: center;
}
.header__container h3{
    color:#0065FC;
    cursor: pointer;
    border-color: transparent;
}
.menu__item a{
    display: block;
    color: black;
}
.menu__item:hover {
    border-top: 3px solid #0065FC;
    color:#0065FC;
}
.menu__item.menu__item.item-inscription:hover {
    border-color: transparent;
}
.menu__item:hover a{
    color:#0065FC;
}

.recherche-title{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.description-title{
    font-size: 0.9rem;
}

.search-inner{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.search-inner .fa-map-marker-alt{
    padding: 15px 20px;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -5px;
}

.search-inner .fa-search{
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-left: -5px;
    color: white;
    background-color: #0065FC;
    display: none;
}

.search-inner .search-typing{
    padding: 10px;
    border: 1px solid #f2f2f2;
    color: black;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.search-inner .search-btn{
    padding: 10px 20px;
    color: white;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-left: -5px;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.filtres-inner{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.filtre-title{
    margin-right: 50px;
}
.filtre-item{
    margin-right: 50px;
    position: relative;
}

.filtre-item i{
    padding: 1rem;
    width: 50px;
    line-height: 1rem;
    font-size: 1rem;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    color:#0065FC;
    left: -5px;
}
.filtre-item button{
    padding: 11px;
    border-radius: 20px;
    border: none;
    background-color: white;
    padding-left: 52px;
    border: 1px solid grey;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.filtre-item button:hover{
    background-color: #0065FC;
}
.info-container{
    display: flex;
    align-items: center;
    margin-top:25px;
}
.info-container p {
    font-size: 0.9rem;
}
.fa-info{
    color: #0065FC;
    border: 1px solid #f2f2f2;
    width: 30px;
    border-radius: 50%;
    line-height: 10px;
    padding: 10px;
    font-size: 10px;
    margin-right: 10px;
    text-align: center;
}

/*PARTIE HEBERGEMENT */
.hebergement-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px
}
.main{
    width: 63%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
    margin-right: 3%;
}

.main__title, .main__more{
    padding-left: 15px;
}

.location-items__inner{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
}
.location-item{
    width: 33.33%;
    padding: 15px;
}
.location-item-inner{
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #fff;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(88, 88, 88, 0.2);
}
.location-description{
    background-color: white;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.location-description .location-title{
    font-weight: 600;
}
.location-description p {
    font-size: 0.9rem;
    color: black;
}
.location-item span{
    font-weight: 600;
    font-size: 0.9rem;
}
.fa-star{
    color:#0065FC;
    font-size: 0.8rem;
}
.fa-star.grey{
    color:#f2f2f2;
}
.location-image{
    width: 100%;
    height: 60%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.aside{
    width: 34%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.aside-location-items{
    display: flex;
    flex-wrap: wrap;
}

.aside-location-item{
    width: 100%;
    padding: 15px;
    height: 160px;
}

.aside-location-item__inner{
    border: 5px solid #fff;
    background-color: white ;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(88, 88, 88, 0.2);
}

.aside-location-image img{
    height: 100%;
    width: 35%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    object-fit: cover;
}

.aside-location-description{
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    width: 65%;
}
.aside-location-description{
    color: black;
}
.aside-location-title{
    font-weight: 600;
}

/* PARTIE ACTIVITE */
.activite-container{
    padding-left: 2%;
    padding-right: 2%;
}
.activite-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 25px;
}
.activite-item{
    width: 22.5%;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(88, 88, 88, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-shadow{
    box-shadow: none;
    overflow: visible;
}
.activite-item__bis{
    box-shadow: 0px 0px 5px rgba(88, 88, 88, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.activite-image{
    width: 100%;
    height: 380px;
}
.pomegue-image{
    width: 100%;
    height: 160px;
}

.frioul-image{
    width: 100%;
    height: 110px;
}

.dame-image{
    width: 100%;
    height: 140px;
}

.longchamp-image{
    width: 100%;
    height: 140px;
}
.pomegue-image img, .frioul-image img, .dame-image img, .longchamp-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activite-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activite-description{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.activite-description p{
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}


/*PARTIE FOOTER */
footer{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 2%;
}
.footer-item{
    margin-right: 220px;
}
.footer-item h2{
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-item h3{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

@media screen and (max-width: 550px){
    .filtre-title{
        margin-right: 300px;
        margin-bottom: 15px;
    }
    .filtre-item button{
        margin-bottom: 15px;
    }
    .info-container{
        align-items: flex-start;
        margin-top: 0;
    }
    .footer-item{
        width: 100%;
        margin-right: 0;
    }
    .search-inner .fa-search{
        display:block;
    }
    .search-inner .search-btn{
        display: none;
    }
    header{
        padding: 0;
        margin-bottom: 20px;
    }
    .header-logo{
        width: 50%;
        padding-left: 5%;
    }
    
    .menu__item{
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
        width: 50%;
    }
    .header__container h3{
        color:#0065FC;
    }
    .menu__item a{
        display: block;
        color: black;
    }
    .menu__item:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color:#0065FC;
    }
    .menu__item:hover a{
        color:#0065FC;
    }
    .header-logo{
        order: 1;
    }
    .menu__item.item-hbg{
        padding-left: 0;
        padding-right: 0;
        order: 3;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu__item.item-act{
        padding-left: 0;
        padding-right: 0;
        order: 4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu__item.item-inscription{
        order: 2;
        text-align: end;
        border-bottom: none;
        padding-right: 5%;
        
    }
    .section__recherche{
        padding-left: 5%;
        padding-right: 5%;
    }
    .section__hebergement{
        padding: 0;
    }
    .main{
        width: 100%;
        order: 2;
        margin-right: 0%;
        background-color: white;
        padding: 30px 5%;
        
    }
    .aside{
        width: 100%;
        order: 1;
        border-radius: 0;
        padding: 30px 5%;
    }
    .location-items__inner{
        background-color: white; 
    }
    .location-item{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .main__title{
        padding-left: 0;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }
    .main__more{
        padding-left: 0;
        font-size: 1.2rem;
    }
    .row{
        padding: 0;
    }
    .row h1, .row i{
       font-size: 1.4rem;
    }
    .aside-location-item{
        padding:0;
        margin-top: 20px;
        height: 150px;
    }
    .activite-item{
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
    .activite-image, .pomegue-image, .frioul-image, .dame-image, .longchamp-image{
        width: 100%;
        height: 150px;
    }
    .mg20{
        margin-top: 20px;
    }
    .activite-title{
        font-size: 1.4rem;
    }
    .activite-container{
        padding: 30px 5%;
    }
    footer{
        padding-left: 5%;
        padding-right: 5%;
    }
}